<?xml version='1.0' encoding='utf-8'?>
<widget id="local.chcair.redButtonC" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>redbuttonc</name>
    <description>
        Record and playback
    </description>
    <author >
        Catherine
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
